@font-face {
    font-family: myFont;
    src: url(AGENCYR.TTF);
  }
  
  body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: myFont;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color:  white;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-radius: 5px;
  font-family: myFont;
  font-size: larger;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-family: myFont;
}

li a.active {
  background-color: #424854;
  color: white;
  border-radius: 5px;
  font-family: myFont;
}

li a:hover:not(.active) {
  background-color: #000;
  color: white;
  border-radius: 5px;
}

.head {
    text-align: center;
    font-size: 50px;
    font-family: myFont;
    font-weight: 100;
    font-weight: 900;
  }

  .technowireimg{
    height: 65px;
    float: left;
    border-radius: 5px;
    padding: 5px;
  }

  .images{
    width: 125px;
  }
  @media screen and (max-width: 450px) {
  .dropbtn {
    display: block;
  }

  .dropbtn {
    background-color: cornflowerblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: -70px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
  }

  .dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    z-index: 4;
    font-size: larger;
  }

  .dropdown-content a:hover {
    background-color: steelblue;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: steelblue;
  }
}